In [5]:
import pandas
cmr=pandas.read_csv("http://modcom.co.ke/bigdata/datasets/Customers.csv")
cmr

,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...
495,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [11]:
print(cmr.corr())
print(cmr.describe())

array = cmr.values
x=array[:, 2:6]
y=array[:, 6]

from sklearn import model_selection
x_train,x_test, y_train, y_test  = model_selection.train_test_split(x,y,
                                                                     test_size=0.30,
                                                                     random_state=42)

from sklearn.linear_model import LinearRegression
model =LinearRegression ()
model.fit(x_train, y_train) 

predictions=model.predict(x_test)
print (predictions)
from sklearn.metrics import  r2_score
print (r2_score(y_test,  predictions))
amount=model.predict([[32,11,35,2]])
print(amount)

                      Avg. Session Length  Time on App  Time on Website  \
Avg. Session Length              1.000000    -0.027826        -0.034987
Time on App                     -0.027826     1.000000         0.082388
Time on Website                 -0.034987     0.082388         1.000000
Length of Membership             0.060247     0.029143        -0.047582
Yearly Amount Spent              0.355088     0.499328        -0.002641

                      Length of Membership  Yearly Amount Spent
Avg. Session Length               0.060247             0.355088
Time on App                       0.029143             0.499328
Time on Website                  -0.047582            -0.002641
Length of Membership              1.000000             0.809084
Yearly Amount Spent               0.809084             1.000000
       Avg. Session Length  Time on App  Time on Website  \
count           500.000000   500.000000       500.000000
mean             33.053194    12.052488        37.060445
std               0.992563     0.994216         1.010489
min              29.532429     8.508152        33.913847
25%              32.341822    11.388153        36.349257
50%              33.082008    11.983231        37.069367
75%              33.711985    12.753850        37.716432
max              36.139662    15.126994        40.005182

       Length of Membership  Yearly Amount Spent
count            500.000000           500.000000
mean               3.533462           499.314038
std                0.999278            79.314782
min                0.269901           256.670582
25%                2.930450           445.038277
50%                3.533975           498.887875
75%                4.126502           549.313828
max                6.922689           765.518462
[403.66993069 542.57756289 427.06591658 502.02460425 410.12143559
 569.93442508 531.93431341 506.29650969 408.71870658 473.97737105
 441.46912726 425.33703059 425.1297229  527.61676714 431.45684016
 424.0769184  575.76543296 484.89856554 458.35936863 481.96502182
 502.32441491 513.63783554 507.58877002 646.57464283 450.24372141
 496.27043415 556.40457807 554.95630839 399.64237199 325.84623136
 532.89783259 478.12238702 501.05701845 305.97335848 505.77244448
 483.79591969 518.8331528  438.18241857 456.71094234 471.04609461
 494.44008972 445.31155755 508.78802753 501.04594193 488.83499673
 535.38079541 595.20129802 514.04714872 280.76758312 433.10112367
 421.70823427 481.23640152 584.71372272 608.7748096  563.98513427
 494.72804869 394.52133407 456.4197529  573.08767515 499.6984241
 512.83277025 392.12434043 480.05057697 481.54520299 475.1117359
 546.2717533  430.85039085 602.16082001 422.3695128  493.57280186
 528.74970313 581.49002635 620.19139276 512.56880298 411.76623862
 498.47637494 461.51337557 446.41371051 448.07229961 535.44710412
 599.45225302 619.33717662 494.15919062 671.99976398 532.46469814
 438.90606319 515.04975242 546.7821954  331.94282076 510.51987447
 536.57891032 500.19533618 376.92345776 573.73961388 479.68031607
 588.61435483 485.69922203 456.40200844 399.25197845 451.5098931
 519.40693826 434.71194217 596.13049586 487.91791966 407.46691799
 524.16812757 504.12982787 452.11540623 524.21791295 457.59311643
 444.19371592 457.80432916 448.76590761 438.31789012 677.04967982
 566.09639245 651.93616661 381.08127926 577.5577254  578.35797052
 518.61431291 538.94532336 377.4301223  663.30814872 523.83158824
 456.86065622 446.07594402 388.55038282 521.03242183 431.94999241
 460.08016327 426.31959507 433.30417088 634.89577554 462.41086078
 460.71673829 512.49535288 703.83033889 411.84238624 551.54681408
 553.33669558 409.68202123 423.34491341 509.66438623 509.88865178
 543.67591782 504.31300469 519.18802223 520.03155195 535.13855037]
0.980875764112585
[336.51065469]

In [1]:
import pandas
cmr1=pandas.read_csv("http://modcom.co.ke/bigdata/datasets/Customers.csv")
cmr1

,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...
495,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [10]:
#machine learning does not support text in the features e.g avatar
#you have to encode any categorical features to 0, 1,2.......
#you can encode in two ways :Manually and automatically
#automatically is the better choice
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

cmr1['AvatarEncoded'] =encoder.fit_transform(cmr1['Avatar'])
#subset = cmr1[['AvatarEncoded','Avatar']]
#print(subset)
print(cmr1['Avatar'])

array = cmr1.values
x=array[:, 2:6]
y=array[:, 6]

from sklearn import model_selection
x_train,x_test, y_train, y_test  = model_selection.train_test_split(x,y,
                                                                     test_size=0.30,
                                                                     random_state=42)

from sklearn.linear_model import LinearRegression
model =LinearRegression ()
model.fit(x_train, y_train) 

predictions=model.predict(x_test)
print (predictions)
from sklearn.metrics import  r2_score
print (r2_score(y_test,  predictions))

0                Violet
1             DarkGreen
2                Bisque
3           SaddleBrown
4      MediumAquaMarine
             ...
495                 Tan
496       PaleVioletRed
497            Cornsilk
498                Teal
499         DarkMagenta
Name: Avatar, Length: 500, dtype: object
[403.66993069 542.57756289 427.06591658 502.02460425 410.12143559
 569.93442508 531.93431341 506.29650969 408.71870658 473.97737105
 441.46912726 425.33703059 425.1297229  527.61676714 431.45684016
 424.0769184  575.76543296 484.89856554 458.35936863 481.96502182
 502.32441491 513.63783554 507.58877002 646.57464283 450.24372141
 496.27043415 556.40457807 554.95630839 399.64237199 325.84623136
 532.89783259 478.12238702 501.05701845 305.97335848 505.77244448
 483.79591969 518.8331528  438.18241857 456.71094234 471.04609461
 494.44008972 445.31155755 508.78802753 501.04594193 488.83499673
 535.38079541 595.20129802 514.04714872 280.76758312 433.10112367
 421.70823427 481.23640152 584.71372272 608.7748096  563.98513427
 494.72804869 394.52133407 456.4197529  573.08767515 499.6984241
 512.83277025 392.12434043 480.05057697 481.54520299 475.1117359
 546.2717533  430.85039085 602.16082001 422.3695128  493.57280186
 528.74970313 581.49002635 620.19139276 512.56880298 411.76623862
 498.47637494 461.51337557 446.41371051 448.07229961 535.44710412
 599.45225302 619.33717662 494.15919062 671.99976398 532.46469814
 438.90606319 515.04975242 546.7821954  331.94282076 510.51987447
 536.57891032 500.19533618 376.92345776 573.73961388 479.68031607
 588.61435483 485.69922203 456.40200844 399.25197845 451.5098931
 519.40693826 434.71194217 596.13049586 487.91791966 407.46691799
 524.16812757 504.12982787 452.11540623 524.21791295 457.59311643
 444.19371592 457.80432916 448.76590761 438.31789012 677.04967982
 566.09639245 651.93616661 381.08127926 577.5577254  578.35797052
 518.61431291 538.94532336 377.4301223  663.30814872 523.83158824
 456.86065622 446.07594402 388.55038282 521.03242183 431.94999241
 460.08016327 426.31959507 433.30417088 634.89577554 462.41086078
 460.71673829 512.49535288 703.83033889 411.84238624 551.54681408
 553.33669558 409.68202123 423.34491341 509.66438623 509.88865178
 543.67591782 504.31300469 519.18802223 520.03155195 535.13855037]
0.980875764112585

In [8]:
# unsupervised learning-you do not know what you are predicting
#you have no target , no Y ,you only have  X
#clustering -putting data into similar groups
import pandas
airlines=pandas.read_csv("http://modcom.co.ke/bigdata/datasets/AirlinesCluster.csv")
airlines

#we cluster 3 columns only
airlines_subset=airlines[['FlightMiles','FlightTrans','DaysSinceEnroll']]
airlines_subset

array=airlines_subset.values
x = array[:,0:3]


from sklearn.cluster import  KMeans
model = KMeans(n_clusters=12,random_state=42)
model.fit(x)

centronoids=model.cluster_centers_
clusters=pandas.DataFrame(centronoids, columns=['FlightMiles','FlightTrans','DaysSinceEnroll'])
print(clusters)

airlines_subset['label']  = model.labels_
airlines_subset = airlines_subset[airlines_subset['label'] == 2]
print(airlines_subset)

     FlightMiles  FlightTrans  DaysSinceEnroll
0     174.767881     0.645074      4716.085020
1     115.834247     0.489041      2122.865753
2    4897.340426    12.510638      2542.595745
3     138.624625     0.524024      6084.557057
4     115.280179     0.433681      3443.427720
5   26458.500000    49.000000      2602.000000
6   11325.736842    23.368421      3491.631579
7    2426.287770     7.863309      6115.424460
8    2340.703704     6.518519      2674.222222
9      91.647465     0.361751      1016.430876
10   6298.153846    16.282051      6337.307692
11    204.193548     0.741935      7555.235732
      FlightMiles  FlightTrans  DaysSinceEnroll  label
1547         4309           12             4469      2
1855         4500            9             4166      2
1990         3892            6             4394      2
2113         4866            3             2626      2
2153         3954           12             4010      2
2179         5688           20             3811      2
2225         4650           13             3687      2
2250         5350           18             3655      2
2413         4754           15             3396      2
2448         4822            9             3266      2
2501         4373            8             3057      2
2732         4000            8             2237      2
2747         6195            8             2231      2
2775         4550           24             2184      2
2789         4723           31             2108      2
2802         4050            9             2068      2
2976         4358           10             3159      2
2999         4650           24             3206      2
3023         4218            5             1776      2
3031         5473           15             2885      2
3047         4379            3             2238      2
3056         3900            6             2726      2
3082         4673           21             2927      2
3093         3900           15             2222      2
3096         7974           19             2691      2
3105         4800           23             2480      2
3108         3757            6             2627      2
3135         4200           10             2610      2
3160         5100           12             2546      2
3165         6647           12             2424      2
3182         4652           11             1958      2
3282         7550           23             2272      2
3362         3694            8             1720      2
3429         7000           22             1529      2
3596         5409            4              429      2
3684         5446            5              492      2
3751         3763            3             3566      2
3756         4000            8             3557      2
3758         3600            8             1459      2
3788         5000           14             3463      2
3824         5500           11             1690      2
3832         4620           11             1681      2
3846         7650           26             1665      2
3907         5183           12             1566      2
3911         4104           16             1552      2
3917         6349            7             1545      2
3950         3950           13             1476      2

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/ipykernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
import pandas
data=pandas.read_csv("http://modcom.co.ke/bigdatasept/datasets/general.csv")
data

general_subset=general[['BALANCE','BALANCE_FREQUENCY','PURCHASES']]
general_subset

array=general_subset.values
x = array[:,0:3]

from sklearn.cluster import  KMeans
model = KMeans(n_clusters=5,random_state=42)
model.fit(x)

entronoids=model.cluster_centers_
clusters=pandas.DataFrame(centronoids, columns=['BALANCE','BALANCE_FREQUENCY','PURCHASES'])
print(clusters)

general_subset['label']  = model.labels_
general_subset = general_subset[general_subset['label'] == 2]
print(general_subset)

         BALANCE  BALANCE_FREQUENCY    PURCHASES
0     174.767881           0.645074  4716.085020
1     115.834247           0.489041  2122.865753
2    4897.340426          12.510638  2542.595745
3     138.624625           0.524024  6084.557057
4     115.280179           0.433681  3443.427720
5   26458.500000          49.000000  2602.000000
6   11325.736842          23.368421  3491.631579
7    2426.287770           7.863309  6115.424460
8    2340.703704           6.518519  2674.222222
9      91.647465           0.361751  1016.430876
10   6298.153846          16.282051  6337.307692
11    204.193548           0.741935  7555.235732
          BALANCE  BALANCE_FREQUENCY  PURCHASES  label
6      627.260806           1.000000    7091.01      2
12    1516.928620           1.000000    3217.99      2
21    6369.531318           1.000000    6359.95      2
23    3800.151377           0.818182    4248.35      2
57    2386.330629           1.000000    5217.62      2
...           ...                ...        ...    ...
8611    42.577756           0.909091    4061.96      2
8662   599.909949           1.000000    4947.32      2
8689   368.318662           0.909091    8053.95      2
8737  2533.618119           0.909091    5633.83      2
8748  1042.816735           0.625000    3950.00      2

[502 rows x 4 columns]

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy